.accordion{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;


}
.accordion-container{
    background: #FF6060;
    border-radius: 5px;
}

.accordion-title{

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    color: #fff;
    padding: 0 18px;
}

.accordion-btn{
    border: none;
    background-color: transparent;
}

.accordion-body{
    background: #F7F7F7;
    border-radius:  5px;
    position: relative;
    bottom: 5px;
    z-index: -1;
    color: #FF6060;
}

.accordion-body p{
    padding: 20px 18px;
    margin: 0;
}