.accordion_product_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 76px;
}

.accordion_product_container .accordion-product{
width: 582px;
border-radius: 10px;
align-items: center;
}

.accordion_product_container .accordion-product-item{
    width: 100%;
}

@media screen and (max-width: 768px){
    .accordion_product_container {
        flex-wrap: wrap;
    }
    .accordion_product_container .accordion-product {
        width: 100%;
    }

    .accordion-content {
        height: 30px;
    }
    .accordion-title {
        font-size: 13px;
        line-height: 18.54px;
        margin-left: 12px;
        align-items: center;
        padding: 0;
    }
}
