.card-container{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 25px;
    width: 340px;
    height: 340px;

}

.card-list-box{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 43px 100px;
    padding: 56px 50px;
    justify-content: space-between;
}

.card_item{
    height: 100%;
}


.card_item_img{
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: start;
    color: #fff;

}
/*TODO: fix overlay*/
/* .card-overlay{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.overlay_container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.overlay_text{
    text-align: start;
}

.card-title{
    padding: 0 20px;
}