.nav_container{
    padding-top: 40px!important;
}

.nav_logo{
    height: 68px;
}

.nav_list{
gap: 16px;
}
.nav_list_item{
    color: #FF6060!important;
    font-style: normal;
font-weight: 500!important;
font-size: 24px!important;
line-height: 34px;

text-decoration: none; /* Ajout de la propriété CSS pour supprimer le soulignement */
}

.active{
  text-decoration: underline; /* Ajout de la propriété CSS pour souligner le lien actif */
}