.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 44px;
}

.navbar-nav_list{
    display: flex;
    list-style: none;
    gap: 56px;
}

.nav_logo{
    height: 68px;
}

.nav_item_link{
    color: #FF6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none; 
}

.active{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .navbar{
        margin-bottom: 20px;
    }
    .nav_logo{
        height: 47px;
    }
    .navbar-nav_list{
        gap: 10px;
    }
    .nav_item_link{
        font-size: 12px;
        line-height: 17.11px;

    }
}