.tag_list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;

}

.tag_list-item{
    height: 25px;
width: 115px;
border-radius: 10px;
background: #FF6060;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 23px;
text-align: center;
color: #FFFFFF;

}

.product_title{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.product_location{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: flex-end;

color: #FF6060;

}
